.dataTables_fun{ padding: 15px 0 20px; font-size: 14px; text-align: center; }
.dataTables_fun label{ font-weight: normal; margin-right: 10px;}

.sTable{}
.listTable,.listTableC{ border-top: 2px solid #ddd; }
.listTable > thead{ }
.listTable > thead > tr > th{ white-space: nowrap; text-align: center;}
.listTable > tbody > tr > td{ vertical-align: middle; text-align: center; }

.listTableC th,.listTableC td{ text-align: center; }
.listTable .funBtn{ font-size: 18px; font-weight: 700; margin: 0 5px; cursor: pointer; }

.txtL{ text-align: left !important; }.txtR{ text-align: right !important; }.txtC{ text-align: center; !important; }.txtWarp{ white-space: nowrap !important; }.red{ color: #c30; }

div.dataTables_info {padding-top: 8px;white-space: nowrap;}
div.dataTables_paginate {margin: 0;text-align: right;white-space: nowrap;}
div.dataTables_paginate ul.pagination {margin: 2px 0;white-space: nowrap;}

.uTable{ width: 100%; margin-bottom: 20px; font-size: 14px;}
.uTable th,.uTable td{ border: 1px solid #ddd; padding:10px 12px; }
.uTable th{ background: #f9f9f9; font-weight:normal; width: 6em; max-width: 6em; color: #666; text-align: right; }
.uTable td{ max-width: 30%;}
.uTable td.tit{ white-space: normal; max-width: 12em; }
.uTable td.txt{ white-space: normal; line-height: 1.6; }
.uTable td.txt p{ padding-bottom: 15px; text-indent: 2em; margin: 0; }
.uTable td.cutline{ border:0 none; border-bottom: 4px solid #ddd; height: 15px; padding: 0; }


.pTab{ background: #fff; border: 1px solid #ddd; padding:0 10px 10px; border-radius: 3px 3px 0 0;}
.sMain{ overflow-x: hidden; overflow-y: auto; padding:15px 10px 10px;  }
.sMain .floor .box-body{ height: 300px; overflow: auto; }

.sNav{ height: 50px; line-height: 50px;  padding: 0 10px; border-bottom: 1px solid #ccc; }
.sNav ul{ margin: 0; padding: 0; }
.sNav li{ display: inline-block; font-size: 15px; padding: 0 5px; margin-right: 28px; position: relative;}
.sNav li:last-child{ margin-right: 0; }
.sNav li:hover{ cursor: pointer; color: #3C8DBC;}
.sNav .on{ color: #3C8DBC;}
.sNav li.on:before{ content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 3px; background: #3C8DBC; }

.introBox{}
.introBox .box-header-bordered{ border-bottom-color: #fff; }
.introBox .box-body{ color: #666; font-size: 13px; line-height: 1.8; }
.introBox .box-body h4{ color: #444; padding:0 0 0.5em; font-size: 16px;}
.introBox .box-body ul{ padding-left: 20px; }


/**/
.mask{margin:0;padding:0;border:none;width:100%;height:100%;background:#000;opacity:0.6;filter:alpha(opacity=60);z-index:9999;position:fixed;top:0;left:0;display:none;}
#LoginBox{position:absolute;left:0;top:0;width:100%;height:100%;border:1px solid #444;z-index:10000;display:none;}


.close_btn{font-family:arial;font-size:30px;font-weight:700;color:#999;text-decoration:none;float:right;}
.inputBox{border:1px solid #c3c3c3;padding:1px 3px 6px 3px;border-radius:5px;margin-left:5px;}
#loginbtn{color:White;background:#4490f7;text-decoration:none;padding:10px 95px;margin-left:87px;margin-top:40px;border-radius:5px;opacity:0.8;filter:alpha(opacity=80);}

.warning{float:right;color:Red;text-decoration:none;font-size:20px;font-weight:bold;margin-right:20px;display:none;}

.popBox{ width: 60%; height: 72%;  margin: 6% auto 0; background: #fff;border-radius:3px;}
.popBox .hd{ height: 42px; line-height: 42px; overflow: hidden; border-bottom: 1px solid #eee; padding: 0 15px; }
.popBox .hd h3{ font-size: 16px; line-height: 42px; margin: 0; }
.popBox .bd{height: calc(100% - 42px);overflow-y: auto; padding:15px;}


/**/
.numLabel{}
.numLabel li{border:1px solid #ccc; padding:12px 15px; margin-bottom: 15px; overflow: hidden; background: #f5f5f5;}
.numLabel li:last-child{ margin-bottom: 0; }
.numLabel li .tit{ margin-bottom: 10px; font-weight: 700; }
.numLabel li .num{ text-align: center; font-size: 36px; color: #20B2BB; position: relative; }
.numLabel li .num i{ position: absolute; right: 0; background: #f5f5f5; font-size: 14px; color: #333; font-style:normal; bottom: 9px; }

.rGraph{ border:1px solid #ccc; }


/**/
.searchTable{ margin: 0 auto; }
.searchTable th{ font-weight: normal; text-align: right; }
.searchTable th,.searchTable td{ padding: 8px 10px; }
/**/
.filtrate{ height: 40px; line-height: 40px; background:#4F94CD; padding: 0 15px; color: #fff; }
.filtrate h3{ display: inline-block;  color: #fff; margin: 0; font-size: 16px; }
.filtrate input,.filtrate select{ height: 28px; line-height: 28px; min-width: 140px; }
.filtrate label{ margin:0 0 0 15px; }
.filtrate  a{ color: #fff; }

/**/
.ppInfo > .row{ border-bottom: 1px solid #ccc; padding:25px 0; }
.ppInfo > .row:first-child{ padding-top: 0px; }

.mTit{ color: #3a7eb8; font-size: 18px; font-weight: bold; margin-bottom: 20px; }

.pInfo{}
.pImg{ max-width: 100%; }
.pInfo .tit{font-size: 18px;font-weight: bold;padding-bottom: 12px; line-height: 1.6;color: #3a7eb8; }
.pInfo .txt{ font-size: 15px; line-height: 1.6; padding-bottom: 20px; }
.pInfo table{ width: 100%; line-height: 1.8; }
.pInfo table th{ vertical-align: top; font-weight: bold; font-size: 16px;  width: 4em; white-space: nowrap; padding-right: 10px; }
.pInfo table td{ vertical-align: top; }

.pLabel{}
.pLabel .tit{ text-align: center; display: inline-block;color: #3a7eb8; font-size: 18px; font-weight: bold;  }
.pLabel table{width: 100%; font-size: 15px;}
.pLabel table td{ padding: 10px 5px; }
.pLabel table tr td:nth-child(1){ font-weight: bold; font-style: 16px;white-space: nowrap; padding-left: 15px; }
.pLabel table tr:nth-child(1) td:nth-child(1){ color: #4F94CD; }
.pLabel table tr:nth-child(2) td:nth-child(1){ color: #4BB1A6; }
.pLabel table tr:nth-child(3) td:nth-child(1){ color: #E5987D; }
.pLabel table td label{ font-weight: normal; padding: 3px 10px; margin-right: 6px; border-radius: 4px; color: #fff; background-color: #4F94CD; }
.pLabel table tr:nth-child(2) td label{ background-color:#4BB1A6;  }
.pLabel table tr:nth-child(3) td label{ background-color:#E5987D;  }
.pLabel table .funTd{ border-left: 1px dotted #ccc; border-right: 1px dotted #ccc; padding:0 10px; white-space: nowrap; }
.pLabel table .funTd .funBtn{ font-size: 22px; margin: 0 10px; }

.pLabel table tr:hover td{ background: #f9f9f9; }

.pLabel .mbtn .btn{ display: block; width: 100%; font-size: 15px; }

/**/
.labelDiv{ position: relative; z-index: 1; border: 1px solid #ccc; padding: 15px 0; width: 100%; }
.labelDiv table{ position: relative; z-index: 3; margin: 0 auto;}
.labelDiv canvas{ position: absolute; z-index: 2; top:15px;left:15px; width:calc(100% - 30px); height:calc(100% - 30px);}
.labelTable {border: 0;}
.labelTable td {border: 0;text-align: center; padding: 15px; width: 230px;}
.labelTable .mainTit div{ background: #ca58cf; color: #fff; width: 100px; height: 40px; line-height: 40px; vertical-align: middle; margin: 0 auto;}
.labelBlock{ border: 1px solid #ccc; width: 230px; height: 125px; overflow: hidden; margin: 0 auto; vertical-align: top;}
.labelBlock .hd{ height: 32px; line-height: 32px; background: #666; color: #fff; font-size: 16px;}
.labelBlock .bd{ text-align: left; font-size: 14px; line-height: 22px; height: 60px; overflow: hidden; padding: 8px 10px; background: #fff;}
.labelBlock .bd ul li{ display: inline-block; margin-right: 8px; float: left;}
.labelBlock .fd{background: #fff; padding: 0 10px;}
.labelBlock .fd a{ border-top: 1px dotted #ccc; height: 28px; line-height: 28px; text-decoration: none; color: #333; display: block; font-size: 13px;}

.sysBule{border-color:#009ACD;}.sysBule .hd{background-color:#009ACD;}.sysBule .fd a{color:#009ACD;}
.sysGreen{border-color:#37BAB3;}.sysGreen .hd{background-color:#37BAB3;}.sysGreen .fd a{color:#37BAB3;}
.sysYellow{border-color:#d48d29;}.sysYellow .hd{background-color:#d48d29;}.sysYellow .fd a{color:#d48d29;}
.sysGreen2{border-color:#47a345;}.sysGreen2 .hd{background-color:#47a345;}.sysGreen2 .fd a{color:#47a345;}

/**/
.basicInfo{ background: #4F94CD; padding: 15px; }
.basicInfo .hd{}
.basicInfo .hd .img{ display: block; margin: 0 auto; width: 80px; height: 80px; text-align: center; background: #fff; border-radius: 50%; line-height: 80px; font-size: 40px; color: #4F94CD;  }
.basicInfo .hd .tit{position: relative; height: 20px; overflow: hidden; margin: 12px 0; text-align: center;}
.basicInfo .hd .tit:before{ content: ""; position: absolute; width: 100%; height: 1px; background: #fff; top: 11px; left: 0; }
.basicInfo .hd .tit h3{ font-size: 16px; color: #fff; margin: 0; line-height: 20px; background: #4F94CD;  display: inline-block; padding: 0 10px; position: relative; }
.basicInfo .bd{}
.basicInfo .bd table{ width: 100%; color: #fff; }
.basicInfo .bd table th,.basicInfo .bd table td{ padding: 5px; }
.basicInfo .bd table th{ white-space: nowrap; font-weight: normal; width: 5em; text-align: right; }
.basicInfo .bd table td{}

.sorTit{ height: 36px; line-height: 36px;background: #4F94CD; padding: 0 15px; color: #fff; }
.mb15{margin-bottom: 15px;}
/**/
.upDiv{ border:1px solid #ccc; padding: 15px 30px; margin-bottom: 15px; }
.userPortrayal{ display: block; height: 460px;  background: url(../img/u4988.png) 50% 50% no-repeat;   }
.upBtn{padding-bottom: 20px;margin:20px 0;border-bottom: 1px dotted #ccc; text-align: center;}
.upBtn button{ margin: 0 15px; }

.upSor{ height: 120px;display:inline-block; margin: 15px 0; position: relative; }
.upSor ul{ display:inline-block; margin: 0 15px; }
.upSor ul li{ font-size: 14px; background: #666;margin: 3px 0;color:#fff;padding: 3px 10px;border-radius:3px;}
.upSor .tit{ font-size: 16px; font-weight: bold; width: 20px; line-height: 18px; display: inline-block; position: relative; margin-top: 22px; }
.upSor .tit:before{content:"";position: absolute; display: block;width:4px;background: #ccc;height: 96%;top:2%; }

.userPortrayal .upSor:nth-child(1){color:#4F94CD;}
.userPortrayal .upSor:nth-child(1):before{right:-92px;}
.userPortrayal .upSor:nth-child(1) ul li,.userPortrayal .upSor:nth-child(1) .tit:before{background-color:#4F94CD;}
.userPortrayal .upSor:nth-child(2){color:#4BB1A6;}
.userPortrayal .upSor:nth-child(2) ul li,.userPortrayal .upSor:nth-child(2) .tit:before{background-color:#4BB1A6;}
.userPortrayal .upSor:nth-child(3){color:#e5987d;}
.userPortrayal .upSor:nth-child(3):before{right:-92px;}
.userPortrayal .upSor:nth-child(3) ul li,.userPortrayal .upSor:nth-child(3) .tit:before{background-color:#e5987d;}
.userPortrayal .upSor:nth-child(4){color:#5D599A;}
.userPortrayal .upSor:nth-child(4):before{left:-92px;transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
.userPortrayal .upSor:nth-child(4) ul li,.userPortrayal .upSor:nth-child(4) .tit:before{background-color:#5D599A;}
.userPortrayal .upSor:nth-child(5){color:#c973cd;}
.userPortrayal .upSor:nth-child(5):before{right:-92px;}
.userPortrayal .upSor:nth-child(5) ul li,.userPortrayal .upSor:nth-child(5) .tit:before{background-color:#c973cd;}
.userPortrayal .upSor:nth-child(6){color:#666;}
.userPortrayal .upSor:nth-child(6) ul li,.userPortrayal .upSor:nth-child(6) .tit:before{background-color:#666;}
/**/
.userPortrayal .upSor:nth-child(1):before,.userPortrayal .upSor:nth-child(2):before{content:"";width:80px;height: 37px; position: absolute;background: url(../img/tLine.png) 0 0 no-repeat;top: calc(50% - 11px);}
.userPortrayal .upSor:nth-child(2):before{ left: -92px; background-image: url(../img/tLine2.png);}
.userPortrayal .upSor:nth-child(3):before,.userPortrayal .upSor:nth-child(4):before{content: "";width:80px;height:13px; position: absolute;background: url(../img/cLine.png) right 0 no-repeat;top: calc(50% - 11px);}
.userPortrayal .upSor:nth-child(5):before,.userPortrayal .upSor:nth-child(6):before{content:"";width:80px;height:37px; position: absolute;background: url(../img/bLine.png) right 0 no-repeat;top: calc(50% - 37px);}
.userPortrayal .upSor:nth-child(6):before{ left: -92px; background-image: url(../img/bLine2.png);}
/**/
.userPortrayal .upSor:nth-child(2n+1){ float: left; clear: left; }
.userPortrayal .upSor:nth-child(2n+1) .tit{float: right;}
.userPortrayal .upSor:nth-child(2n+1) .tit:before{ right: -12px; }
.userPortrayal .upSor:nth-child(2n){ float: right; clear: right; }
.userPortrayal .upSor:nth-child(2n) .tit{float: left;}
.userPortrayal .upSor:nth-child(2n) .tit:before{ left: -12px; }
.userPortrayal .upSor:nth-child(4n-3){ margin-left: 10%; }
.userPortrayal .upSor:nth-child(4n+2){ margin-right: 10%; }

/**/
.searchDiv{ padding:5px 15px 15px; }
.searchForm .sInput{ float: left; margin-right: -200px; height: 46px; padding: 0 12px; border: 0; }
.searchForm .sInput:focus{ border-color: #1c9ed7; }
.searchForm .sInput input{ height: 46px; }
.sfBtn{ width: 200px; float: right; }
.sfBtn button{ border-radius: 0; float: left; background:#1c9ed7; border:0; height: 46px; width: 100px; font-size: 16px; }
.sfBtn button#aSearchBtn{ background: #78c9e4; }

.sWord{ display: table; width: 100%; margin-top: 20px; }
.sWord label{ float: left; width: 5em; height: 24px; line-height: 24px; text-align: right; margin:0 15px 0 0; display: table-cell; color: #1c9ed7; }
.sWord ul{ display: table-cell; }
.sWord ul li{ float: left; margin: 0 10px 10px 0; }
.sWord ul li a{ display:inline-block; height: 24px; line-height: 24px; padding: 0 8px; background:#e0f2f9; color: #888; border-radius: 3px; }
.sWord ul li a:hover{ background-color: #4f94cd; color: #fff; }
.sTxt{ margin-bottom: 8px; }

.aSearch{ margin-top: 10px; }
.aSearch table{ width: 100%; }
.aSearch table th,.aSearch table td{ padding:8px 10px; }
.aSearch table th{ text-align: right; white-space: nowrap; width: 2em; }
.aSearch table td{ max-width: 21em; }
.aSearch table .asBtn{ padding-left: 30px; }
.aSearch table .asBtn button{ width: 100%; margin: 12px 0; }

.searchList{ background-color: #f2f2f2; }
.searchList h3,.searchList a{ color:#015faf; font-weight: bold;  }

.el-input__inner{ border-radius: 0 !important;  border-color: #d2d6de !important; }
.el-range-editor.el-input__inner{ padding: 0 12px !important; }
.el-date-editor .el-range-input::placeholder{color:#999 !important; opacity: 1;}