<div th:fragment="footer">
    <script src="js/jquery-2.2.3.min.js" th:src="@{/js/jquery-2.2.3.min.js}"></script>
    <script src="js/vue.js" th:src="@{/js/vue.js}"></script>
    <script src="js/app.min.js" th:src="@{/js/app.min.js}"></script>
    <script src="js/element-ui-1.4.6.js" th:src="@{/js/element-ui-index.js}"></script>
    <script src="js/moment.js" th:src="@{/js/moment.js}"></script>
    <script src="js/utils.js" th:src="@{/js/utils.js}"></script>
    <script src="js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
    <script src="js/pChart.js" th:src="@{/js/pChart.js}"></script>
    <script src="js/sLabels.js" th:src="@{/js/sLabels.js}"></script>
    <script src="js/labelSearch.js" th:src="@{/js/labelSearch.js}"></script>
</div>