<head th:fragment="header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>用户标签展示</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="css/lte-tipdm.css" th:href="@{/css/lte-tipdm.css}">
    <link rel="shortcut icon" href="favicon.ico" th:href="@{/favicon.ico}">
    <link rel="stylesheet" href="css/animate.min.css"  th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" href="css/index.css"  th:href="@{/css/index.css}">
    <link rel="stylesheet" href="css/sub-css.css" th:href="@{/css/sub-css.css}">
    <link rel="stylesheet" href="css/element-ui-1.4.6.css" th:href="@{/css/element-ui-1.4.6.css}">
    <script src="js/html5shiv.min.js" th:src="@{/js/html5shiv.min.js}"></script>
    <script src="js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <script src="js/jquery-2.2.3.min.js" th:src="@{/js/jquery-2.2.3.min.js}"></script>
</head>